main {
    padding-top: 100px;
    padding-bottom: 50px;
    color: white;
    background: linear-gradient(180deg, rgba(0,0,0,1) 30%, rgba(85,85,85,1) 20%, rgba(85,85,85,1) 20%, rgba(0,0,0,1) 30%,);
    
}

#app {
    height: 100vh;
}