main {
    padding-top: 100px;
    padding-bottom: 50px;
    color: white;
    background-color: var(--brand-bg);

    .card{
        border: solid 2px var(--brand-color);
        background: var(--card-bg);
        color: white;
        text-align: center;

        & img {
            width: 25px;
        }

        & a {
            text-decoration: none;
            color: currentColor;
        }

        & a:hover{
            color: var(--brand-color);
        }

        & i, .card-title {
            color: var(--brand-color);
        }

        
    }
}