main {
    padding-top: 100px;
    padding-bottom: 50px;
    color: white;
    background: radial-gradient(circle, rgba(85,85,85,1) 0%, rgba(0,0,0,1) 100%);


    & .type-form {
        & label {
            color: var(--brand-color);
        }

        & .form-control {

            background-color: black;
            color: white;
            border: 1px solid var(--brand-color);

            & option:target {
                background-color: black;
                color: var(--brand-color);
            }

        }
    }
}

#app {
    height: 100vh;
}